* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  padding: 1.2rem 1.5rem;
  background: #e0e5ec;
  width: 100%;
}
.navbarInner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  width: 100%;
  text-align: left;
}

.navLinks {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.navLinks a {
  color: #333;
  font-weight: 500;
  transition: color 0.2s;
}

.navLinks a:hover {
  color: #ff4b4b;
}

.authButtons {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  width: 100%;
  justify-content: center;
}

.login {
  width: 100%;
  padding: 0.9rem 2rem;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  background: #e0e5ec;
  color: #333;
  box-shadow: 5px 5px 10px #bec4d0, -5px -5px 10px #ffffff;
  transition: all 0.3s ease-in-out;
}

.login:hover {
  transform: translateY(-2px);
  box-shadow: inset 5px 5px 10px #bec4d0, inset -5px -5px 10px #ffffff;
}

@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 2rem;
  }
  .navbarInner {
    display: flex;
    justify-content: space-between;
    width: 60%;
  }

  .logo {
    width: auto;
    text-align: left;
  }

  .navLinks {
    flex-direction: row;
    width: 300px;
    gap: 1.5rem;
  }

  .authButtons {
    flex-direction: row;
    width: auto;
    gap: 1rem;
  }

  .login,
  .authButtons button {
    width: auto;
  }
}
